<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="p-3">
        <div class="card">
            <div class="card-header"> Liste des patients</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>Keyword: </label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-info"><i class="bi bi-search"></i></button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th> <th>Nom</th> <th>Date de Naissance</th> <th>Malade</th> <th>Score</th>
                    </tr>
                    </thead>
                    <tr th:each="p:${listPatients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.malade}"></td>
                        <td th:text="${p.score}"></td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a onclick="javascript:return confirm('Are you sure?')" class="btn btn-danger" th:href="@{/delete(id=${p.id},keyword=${keyword},page=${currentPage})}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-success" th:href="@{/editPatient(id=${p.id})}">Edit</a>
                        </td>
                    </tr>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="p,item:${pages}">
                        <a th:href="@{/index(page=${item.index},keyword=${keyword})}"
                           th:class="${currentPage==item.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:text="${item.index}"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>